<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Create Chat</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
         <script type="text/javascript" src="{{ url_for('static', filename='create_chat.js') }}"></script>

        <label for="create_chat">username: </label>
        <input id="create_chat"></input>
        <button onclick="create_chat();">create chat</button>

        <div id="create_chat_success"> </div>

    </head>
    <body>

    </body>
</html>